{% set tpl = ix_lib.base.render.Render(values) %}

{% set perm_container = tpl.deps.perms(values.consts.perms_container_name) %}
{% set perms_config = {"uid": values.consts.run_as_user, "gid": values.consts.run_as_group, "mode": "check"} %}

{% set sync = tpl.add_container(values.consts.sync_container_name, "sync_image") %}
{% set api = tpl.add_container(values.consts.api_container_name, "image") %}

{% set containers = [api, sync] %}
{% for c in containers %}
  {% do c.set_user(values.consts.run_as_user, values.consts.run_as_group) %}

  {# We use the same bus port for both, as they only communicate internally #}
  {% do c.environment.add_env("OP_BUS_PORT", values.consts.bus_port) %}

  {# This can contain the credentials file in base64 encoded format #}
  {# cat 1password-credentials.json | base64 | tr '/+' '_-' | tr -d '=' | tr -d '\n' #}
  {% do c.environment.add_env("OP_SESSION", values.onepassword.credentials) %}

  {% do c.environment.add_env("XDG_DATA_HOME", values.consts.home_dir) %}
  {% do c.add_storage(values.consts.data_dir, values.storage.data) %}
{% endfor %}

{% do api.environment.add_env("OP_HTTP_PORT", values.network.api_port.port_number) %}
{% do api.environment.add_env("OP_BUS_PEERS", "%s:%d" | format(values.consts.sync_container_name, values.consts.bus_port)) %}
{# FIXME: https://github.com/1Password/connect/issues/63 #}
{% do api.healthcheck.disable() %}

{% do sync.environment.add_env("OP_HTTP_PORT", values.network.sync_port.port_number) %}
{% do sync.environment.add_env("OP_BUS_PEERS", "%s:%d" | format(values.consts.api_container_name, values.consts.bus_port)) %}
{# FIXME: https://github.com/1Password/connect/issues/63 #}
{% do sync.healthcheck.disable() %}

{% do api.add_port(values.network.api_port) %}
{% do sync.add_port(values.network.sync_port) %}

{% do perm_container.add_or_skip_action("data", values.storage.data, perms_config) %}

{% if perm_container.has_actions() %}
  {% do perm_container.activate() %}
  {% do api.depends.add_dependency(values.consts.perms_container_name, "service_completed_successfully") %}
  {% do sync.depends.add_dependency(values.consts.perms_container_name, "service_completed_successfully") %}
{% endif %}

{{ tpl.render() | tojson }}
